/* Informations valables pour toute la page */

@font-face {
    font-family: "raleway";
    src: url("raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}

#bloc-page {
    display: flex-wrap;
    width: 95%;
    margin: auto; 
    font-family: "raleway";
    font-size: 0.8em;
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1em
}


/* HEADER */

header {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
}

#titre-principal img {
    width: 22%;
    height: 52%;  
    padding-top: 13px; 
}

nav ul {
    list-style-type: none;
}

li {
    float: left;
  }

li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
.menuItemSelected {
    border-top: 2px solid #0065fc;
  }


/* BANNIERE */
/* Message de pub*/
#ville {
    margin-top: -10px;
}

/* Barre de recherche */

#recherche {
    display: flex;
}

#map {
    border-radius: 50px 50px 50px 50px / 50px 0px 0px 50px;
    background-color: #f2f2f2;
    padding: 7.5px;
    padding-left: 14px;
    padding-right: 14px;
}

#map i {
    height: 1px;
    width: auto;
}

input {
    padding: 7.5px;
    margin-left: -3px;
    margin-right: -3.8px;
    border: 1.7px #f2f2f2 solid;
}

button {
    background-color: #0065fc;
    color: white;
    border: none;
    border-radius: 25px 50px 50px 0px / 0px 50px 50px 25px;
    padding: 9px;

}

/* Filtre */

#filtre {
    display: flex;
    margin-bottom: 15px;
    margin-top: 20px;
    flex-wrap: wrap;
}

#filtre span {
    padding: 10px;
    font-weight: bold;
}

.filtre {
    display: flex;
    margin-left: 20px;
    border: 2px #d6d6d6 solid;
    height: 39px;
    border-radius: 65px 65px 65px 65px / 75px 75px 75px 75px;
}

.logo {
    display: flex;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    margin-left: -6px;
    margin-top: -2px;
    background-color: #DEEBFF;
}

#filtre i {
    color: #0065fc;
    margin: auto;
}

/* Information*/

#info {
    display: flex;
    margin: 20px;
}

#info i {
    height: 1px;
    width: 1px;
    color: #0065fc;
    padding-top: 3px;
}

#info i:before {
    margin-left: 7.5px;
}

#infologo {
    border-radius: 50%;
    height: 20px; 
	width: 20px;
    border: 2px #F2F2F2 solid;
}



#info span {
    padding-top: 5px;
    padding-left: 10px;
}

/* CORPS */
/* SECTION 1 */
/* Article */

section {
    display: flex;
    margin-top: 20px;
}

section h1 {
    margin-left: 28px;
}

article {
    background-color: #f2f2f2;
    margin-right: 40px;
    flex: 5;
    border-radius: 15px;
    font-size: 0.9em;
}

aside {
    flex: 1;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.9em;
}

#sixboites {
    display: flex;
    padding: 10px;
    border-radius: 15px;
    flex-wrap: wrap;
    margin-top: -30px;
}

.six-boites {
    background-color: white;
    width: 210px;
    height: 171px;
    padding: 5px;
    padding-bottom: none;
    margin: 18px;
    border-radius: 15px;
    box-shadow: 2px 2px 15px #d6d6d6;
    }

.cube {
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 211px;
    height: 103px;
    border-radius: 15px 15px 0 0;
}
#aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}

.trois-boites {
    display: flex;
    background-color: white;
    padding: 5px;
    margin: 18px;
    border-radius: 15px;
    box-shadow: 2px 2px 15px #d6d6d6;
    }

.trois-boites img {
    overflow: hidden;
    width: 260px;
    height: auto;
    border-radius: 15px 0 0 15px;
}

/* SECTION 2 */

#activites {
    display: flex;
    border-radius: 15px;
    padding: 10px;
    flex-wrap: wrap;
}

.activites {
    flex-direction: row;
    box-shadow: 2px 2px 15px #d6d6d6;
}

.activites img {
    overflow: hidden;
    width: 260px;
    height: auto;
    border-radius: 15px 15px 0px 0px;
}

/* FOOTER */
footer {
    background-color: #F2F2F2;
    display: flex; 
    flex-direction: row;
    padding-top: 18px;
    padding-left: 25px;
    padding-bottom: 30px;
}

.element:nth-child(1) {
    margin-right: 170px;
}
.element:nth-child(2) {
    margin-right: 170px;
}